  <div class="main_header">


    <div class="text">
        <h1>Singing Scientific</h1>
        <h2 class="subtitle">Science Through The Arts</h2>

        <hr class="topic_line">

        <div class="topics">
          <h2 class="topic2">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
          <h2 class="topic3">
              Topic
          </h2>
        </div>

        <hr class="bottom_topic_line">
    </div>
  </div>

  <div class="forum_search">
    <%= text_field :search, params[:search], class: 'forums_search' %>
    <button class="fbutton">Create New Post</button>
  </div>

  <% @forums.each do |forum| %>
    <div class="blogs_wrapper">
      <h2 class="forum_title"><%= link_to forum.question, forum %></h2>
      <p class="forum_body"><%= truncate(forum.description, length:150) %></p>
    </div>
  <% end %>




